* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: orange; /* to be removed after adding landing section */
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}