* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  max-width: 100vw;
  box-sizing: border-box;
  background-color: orange; /* to be removed after adding landing section */
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Custom Scroll */

/* width */
::-webkit-scrollbar {
  width: 10px;

  background-color: rgba(0, 0, 0, 0);
}
/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(230, 111, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(240, 240, 240);
  border-radius: 10px;
  width: 5px;
  height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #686868;
}

/* Nav Section Styles */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.sticky-bg {
  width: 100%;
  backdrop-filter: blur(20px);
}

nav {
  position: sticky;
  top: 0;
  z-index: 11;
}

nav a {
  text-decoration: none;
  color: #e7e7e7;
  transition: 0.5s;
}

nav a:hover {
  color: white;
  font-weight: 500;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.nav-links ul li a:hover {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav .fa {
  display: none;
}